.divider {
    height:50px;
}



.bg-1 {
    background: url(../img/intro-bg.jpg) no-repeat center center fixed;
    color:#fff;
    background-size:cover;
    height:100%;
    width: 100%;
    padding-top:50px;
    padding-bottom:50px;
    overflow:auto;
}

.bg-2 {
    background: url(../img/bg-1.jpg) no-repeat top center fixed;
    color:#fff;
    background-size:cover;
    height:400px;
    padding-top:50px;
    padding-bottom:50px;
    overflow:auto;
}

.bg-3 {
    background: url(../img/intro-bg.jpg) no-repeat bottom center fixed;
    color:#fff;

    background-size:cover;
    height:400px;
    padding-top:50px;
    padding-bottom:50px;
    overflow:auto;

}

#footer {
    height: 60px;
    background-color:#585858;
    margin-top:50px;
    padding-top:20px;
    padding-bottom:20px;
}

#footer a {
    color:#efefef;
}
/* For mobile devices */
@media only screen and (max-width: 767px) {
    .bg-1 {
        /* The file size of this background image is 93% smaller
         * to improve page load speed on mobile internet connections */
        background-image: url(../img/background-photo-mobile-devices.jpg);
    }
}
